h2,h3,h4,h5,p,a {
    font-family: Roobert-Regular;
}
h1{
    font-size: 96px;
    line-height: 116px;
    font-family: Roobert-Medium;
}
h2{
    font-size: 64px;
    line-height: 94px;
}
h3{
    font-size: 32px;
    line-height: 58px; 
}
a{
    color: #FF001E;
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@font-face {
    font-family: Roobert-Bold;
    src: url('../font/Roobert-Bold.woff');
}
@font-face {
    font-family: Roobert-Light;
    src: url('../font/Roobert-Light.woff');
}
@font-face {
    font-family: Roobert-Medium;
    src: url('../font/Roobert-Medium.woff');
}
@font-face {
    font-family: Roobert-Regular;
    src: url('../font/Roobert-Regular.woff');
}
@font-face {
    font-family: Roobert-SemiBold;
    src: url('../font/Roobert-SemiBold.woff');
}

@media (min-width: 576px) {
    .container{
      max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container{
      max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container{
      max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
      max-width: 1140px;
      width: 100%;
    }
}
@media (min-width: 1366px) {
    .container{
      max-width: 1300px;
      width: 100%;
    }
}
@media (min-width: 1600px) {
    .container{
      max-width: 1440px;
      width: 100%;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) { 
    h1{font-size: 60px; }
    .wooGroup .wooGroup-section-boxRight{padding-left: 50px;}
    .wooGroup-section-1 h1.title-box{font-size: 92px;}
    .wooGroup-section-1 .content-box{font-size: 28px;}
    .wooGroup .wooGroup-section-boxRight p.content-box{font-size: 18px;}
    .wooGroup-section-3 .content-box { font-size: 28px;line-height: 40px;}
    
}
$red: #FF001E;
$black: #000000;
$charcoal: #0F0F0F;
$grey: #707070;
$white:#FFFFFF;

.wooGroup{
    h1.title-box{
        text-align: center;
    }
    .swiper-slide{
        overflow: hidden;
    }
    &-section-1{
            background-image: url('../images/OpenGraphImage.png');
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 2s ease;
            color: $white;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            .content-box{ 
                font-size: 36px;
                line-height: 60px;
                text-align: center;
                max-width: 900px;
                margin: auto;
            }
        }
    
        .wooGroup-section-box{
            display: flex;
            flex-wrap: wrap;
            &Left{
                width: 50%;
            }
            &Right{ 
                text-align: left;
                display: flex;
                flex-wrap: wrap;
                width: calc(50% - 110px);
                padding-left: 110px;
                .title-box{
                    text-align: left;
                    width: 100%;
                    position: relative;
                }
                .content-box{
                    font-size: 20px;
                    max-width: 580px;
                }
                
            }
        }
    &-section-2{ 
        background: #fff;
        .title-box{
            &::after{
                content: "";
                width: 100%;
                height: 150px;
                left: -10px;
                top: 120px;
                background: #FFFFFF;
                display: block;
                position: absolute;
            }
            span{
                height: max-content;
                position: absolute;
                top: 120px;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        .content-box{
            a{
                margin-top: 30px;
                display: flex;
                width: 100%;
            }
        }
    }
    &-section-2a{
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: #eae7dd;
            z-index: 9;
            transition: all 0.3s ease;
        }
        
    }
    &-section-2a.swiper-slide-active{
        .title-box{ 
            span{
                animation: titleTop 2s ease 3.5s forwards;
            } 
        }
        .content-box{ 
            animation: contentBox 2s ease 5s forwards;
        }
        &::before{ 
            height: 100%;
            transition: all 0.3s ease;
            animation: heightBox 3s ease forwards;
        }
    }
    &-section-2b.swiper-slide-active{
        .title-box{
            span{
                animation: titleTop 2s ease 1s forwards;
            } 
         }
         .content-box{ 
            animation: contentBox 2s ease 3s forwards;
         }
        
    }
    &-section-2.swiper-slide-active{
        .wooGroup-section-boxRight{
            .title-box{
                position: relative;
                height: max-content;
            }
            .content-box{
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        @keyframes heightBox{ 
            from {height: 100%;transition: all 0.3s ease;}
            to {height: 0;transition: all 0.3s ease;}
        }
        @keyframes titleTop {
            from {top: 120px;opacity: 0;transition: all 0.3s ease;}
            to {top: 0px;opacity: 1;transition: all 0.3s ease;}
        }
        @keyframes contentBox{
            from {opacity: 0;transition: all 0.3s ease;}
            to {opacity: 1;transition: all 0.3s ease;}
        }
    }
    &-section-3{
        background: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100vw;
        height: calc(100vh);
        transition: all 2s ease;
        opacity: 0;
        color: #fff;
        position: relative;
        h2.title-box{
            text-align: left;
            position: relative;
            left: 100px;
            opacity: 0;
        }
        .content-box{
            font-size: 32px;
            line-height: 50px;
            position: relative;
            top: -50px;
            opacity: 0;
            transition: all 2s ease;
            a{
                color: $white;
                &:hover{
                    color: $red;
                }
            }
        }
        @keyframes contentFooter{
            from {top: -50px;opacity: 0;transition: all 0.3s ease;}
            to {top: 0px;opacity: 1;transition: all 0.3s ease;}
        }
        @keyframes titleFooter{
            from {left: 100px;opacity: 0;transition: all 0.3s ease;}
            to {left: 0px;opacity: 1;transition: all 0.3s ease;}
        }
    }
    .footer{
        height: 50px;
        background: #fff;
        width: 100%;
        position: absolute;
        bottom: 0;
        .container{height: 100%;}
        .footer-box{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            &Left,&Right{
                width: 50%;
            }
            &Right{ 
                text-align: right;
                a{
                    font-size: 16px;
                    color: $black;
                    &:hover{
                        color: $red
                        ;
                    }
                }
            }
        }
    }
    .swiper-slide-active .wooGroup-section-3{ 
        transition: all 2s ease;
        opacity: 1;
        .content-box{
            animation: contentFooter 2s ease 3s forwards;
        }
        h2.title-box{ 
            animation: titleFooter 2s ease 5s forwards;
        }
    }

    &-sectionPrivacyPolicy{
        display: flex;
        align-items: center;
        height: 100vh;
       h1.title-box{text-align: left;} 
       .list-content{
           display: flex;
           flex-wrap: wrap;
           .item{
            width: calc(50% - 10px);
            margin: 10px 5px;
           }
       }
    }
}
//Responsive
@media (max-width: 600px) { 
    .wooGroup-section-1{
        .title-box{
            font-size: 46px;
        }
        .content-box{
            font-size: 16px;
            line-height: 26px; 
            text-align: center;
        }
    }
    .wooGroup {
        .wooGroup-section-2 .title-box::after{
            content: unset;
        }
        .wooGroup-section-box{
            &Left,&Right{
                width: 100%;
            }
            &Left{
                max-height: 40vh;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &Right{
                padding: 0 15px;
                height: calc(100vh - 40vh);
                display: unset !important;
                .title-box{
                    margin: 0;
                    height: 100px;
                    font-size: 32px;
                    min-height: 70px;
                }
                .content-box{
                    font-size: 16px;
                    line-height: 18px;
                    color: #707070;
                }
            }
        }
        .wooGroup-section-2 .content-box a{
            margin-top: 10px;
        }
        .wooGroup-section-3{
            .content-box{
                font-size: 16px;
                line-height: 26px;
            }
            .title-box{
                font-size: 32px;
            }
        }
         .footer {
            padding: 10px 0;
            height: auto;
            bottom: 11vh;
            &-box{
                height: auto !important;
                &Left{
                    img{
                        max-width: 80px;
                    }
                }
                &Right{
                    a{
                        padding-right: 30px;
                    }
                }
            }
         }
    }
    .content-boxPrivacyPolicy{
        .title-box{
            font-size: 37px;
            line-height: 40px;
        }
    }
    .wooGroup-sectionPrivacyPolicy .list-content .item{
        width: 100%;
        font-size: 15px;
        line-height: 18px;
    }
}